 <head>
</head>
<body class="book-page">
  <nav  class="navbar navbar-full">
  <div class="collapse navbar-toggleable-xs float-sm-right">
        <a class="navbar-brand hidden-sm-up" href="/" target="_parent">我的首页</a>
        <a class="navbar-brand hidden-xs-down" href="/" title="我的首页">我的首页</a>
  </div>
  <div class="collapse navbar-toggleable-xs float-sm-left" id="main-nav">
  <ul class="nav navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/" title="首页">首页</a>
  </li>
  <li class="nav-item active">
  <a class="nav-link" href="/book/" title="阅读">阅读</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="http://railstutorial-china.org" title="Ruby on Rails 教程" target="_blank">教程</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="http://guides.rubyonrails.org" title="Rails Guides">英文版</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/#ebook" title="电子书">电子书</a>
  </li>
  </ul>
  </div>

  
  <div >
</div>
</nav>
</body>

<!--<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table> -->